{% extends "base.html" %}
{% block collection %}
<div class="jumbotron" style="height:110px;padding-top:20px">
  <div class="container" style="height:90px">
    <h2 align="center">Collections</h2>
  </div>
</div>

<div class="container">
  <div class="starter-template">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Sunrise</a></li>
        <li><a data-toggle="tab" href="#menu1">Sunset</a></li>
      </ul>
      <hr>
      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="row">
            {% for val in output %}
            <div class="col-xs-6 col-lg-4" style="height:310px">
              <p align="center"><a href="http://www.artmosphere.nyc/trend/{{val.artwork_id}}"><img src={{val.image_link}} class="img-thumbnail" style="height:250px"></a> </p>
              <p align="center"><b>Title: </b>{{val.title}}</p>
            </div>
            {% endfor %}
          </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <div class="row">
            {% for val in output_2 %}
            <div class="col-xs-6 col-lg-4" style="height:310px">
              <p align="center"><a href="http://www.artmosphere.nyc/trend/{{val.artwork_id}}"><img src={{val.image_link}} class="img-thumbnail" style="height:250px"></a> </p>
              <p align="center"><b>Title: </b>{{val.title}}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}