{% extends "base.html" %} <!--this means that you are extending the base tempate -->
{% block home %} <!-- this is the name of the block below -->
        <div class="row" style="height:100vh;background: url(../static/img/bg.jpg) no-repeat;background-size: 100%;opacity: 0.7;filter: alpha(opacity=40);top:0;left:0;right:0;position:absolute">
                <div class="col-md-4 col-md-offset-4" style="margin-top:60vh;margin-left:110vh">
                      <div id="container" align="right">
                      <div class="panel panel-default panel-transparent" style="opacity: 0.5;width: 500px">
  						<div class="panel-body">
                            <label style="font-weight:300; font-size:36px;">"To every age its art, &nbsp;&nbsp;<br> to every art its&nbsp;&nbsp;</label>
                            <label style="font-weight:500; font-size:36px;">Freedom"&nbsp;&nbsp;</label>
                          </div>
                         </div>
                      </div>
                </div>
        </div>

{% endblock %}