{% extends "base.html" %} <!--this means that you are extending the base tempate -->
{% block profile %} <!-- this is the name of the block below -->
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="top:-30px">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="../static/img/me.JPG" alt="First slide" style="opacity:0.5;min-height:1400px;overflow:hidden;min-width:1400px;top:-170px;left:-50px">
          <div class="container">
            <div class="carousel-caption">
              <img class="img-circle" src="../static/img/me.JPG" alt="photo" width="180" height="180">
              <h1>Keira Zhou</h1>
              <p><a href="https://github.com/keiraqz/artmosphere" target="_blank"><img src="../static/img/GitHub.png" alt="photo" width="20" height="20"></a> <a href="https://www.linkedin.com/in/keiraqz" target="_blank"><img src="../static/img/In.png" alt="photo" width="20" height="20"></a></p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->

    <!-- <hr> -->
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-6">
        <h2 align="center">Work Hard</h2>
          <!-- <hr> -->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Computer Architecture | Natural Language Processing</h3>
            </div>
            <div class="panel-body">
              <p align="center"><img class="img-thumbnail fancybox" src="../static/img/bill_poster.png" width="300"></p>        
              <p><b>Zhou, K.</b>, et al. "Brill Tagging on the Micron Automata Processor." Semantic Computing (ICSC), 2015 IEEE International Conference on. IEEE, 2015.</p>
              <p><b>Zhou, K.</b>, et al. "Regular Expression Acceleration on the Micron Automata Processor: Brill Tagging as a Case Study." Big Data (BigData 2015), 2015 IEEE International Conference on. IEEE, 2015.</p>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Natural Language Processing | Sentiment Analysis</h3>
            </div>
            <div class="panel-body">
              <p align="center"><img class="img-thumbnail fancybox" src="../static/img/acl_poster.jpg" width="300"></p>
              <p>Al Boni, M., <b>Zhou, K.</b>, Wang, H., & Gerber, M. S. Model Adaptation for Personalized Opinion Analysis. Volume 2: Short Papers, 769.</p>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Machine Learning | Cloud Computing</h3>
            </div>
            <div class="panel-body">
              <p align="center"><img class="img-thumbnail fancybox" src="../static/img/cloud.png" width="300"></p>
              <p>K. Li, C. Gibson, D. Ho, <b>Q. Zhou</b>, J. Kim, O. Buhisi, D. Brown &amp; M. Gerber. Assessment of Machine Learning Algorithms in Cloud Computing Frameworks. In Systems and Information Engineering Design Symposium (SIEDS). IEEE, 2013.</p>
            </div>
          </div>
        </div> <!-- /.col-lg-6 -->
      <div class="col-lg-6">
        <h2 align="center">Play Hard</h2>
        <!-- <hr> -->
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Sketching | Painting</h3>
            </div>
            <div class="panel-body">
              <p align="center"><img class="img-thumbnail fancybox" src="../static/img/aboutME.jpg" width="70%"></p>
              <p align="center"><img class="img-thumbnail fancybox" src="../static/img/bg.jpg" width="70%"></p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Skydiving</h3>
            </div>
            <div class="panel-body">
              <p align="center"><img class="img-thumbnail fancybox" src="../static/img/skydiving.jpg" width="70%"></p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Travel</h3>
            </div>
            <div class="panel-body">
              <p>Australia | Spain | England | Singapore | China | US | Wales | Turkey</p>
              <p align="center"><img class="img-thumbnail fancybox" src="../static/img/spain.jpg" width="70%"></p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">My Dogs</h3>
            </div>
            <div class="panel-body">
              <p> Sophie | Roxy </p>
              <p align="center"><img class="img-thumbnail fancybox" src="../static/img/doggies.jpg" width="70%"></p>
            </div>
        </div>
        </div> <!-- /.col-lg-6 -->
      </div> <!-- /.row-->
    </div>

{% endblock %}