{% extends "base.html" %} <!--this means that you are extending the base tempate -->
{% block profile %} <!-- this is the name of the block below -->
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="top:-30px">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="../static/img/me.JPG" alt="First slide" style="opacity:0.5;min-height:1400px;overflow:hidden;min-width:1400px;top:-170px;left:-50px">
          <div class="container">
            <div class="carousel-caption">
              <img class="img-circle" src="../static/img/me.JPG" alt="photo" width="180" height="180">
              <h1>Keira Zhou</h1>
              <p><a href="https://github.com/keiraqz/artmosphere"><img src="../static/img/GitHub.png" alt="photo" width="20" height="20"></a> <a href="https://www.linkedin.com/in/keiraqz"><img src="../static/img/In.png" alt="photo" width="20" height="20"></a></p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->

    <hr>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-6">
          <h2>Work Hard</h2>
          <hr>
          <!-- <p align="right"><img class="img-thumbnail" src="../static/img/bill_poster.png" width="200" style="right:0"></p> -->
          <img class="img-thumbnail" src="../static/img/bill_poster.png" width="200" style="right:0">
          <p><b>Computer Architecture | NLP</b></p>        
          <p><b>Zhou, K.</b>, et al. "Brill Tagging on the Micron Automata Processor." Semantic Computing (ICSC), 2015 IEEE International Conference on. IEEE, 2015.</p>
          <p><b>Zhou, K.</b>, et al. "Regular Expression Acceleration on the Micron Automata Processor: Brill Tagging as a Case Study." Big Data (BigData 2015), 2015 IEEE International Conference on. IEEE, 2015.</p>
          <hr>
          <img class="img-thumbnail" src="../static/img/acl_poster.jpg" width="200" style="right:0"> 
          <p><b>NLP | Sentiment Analysis</b></p>        
          <p>Al Boni, M., <b>Zhou, K.</b>, Wang, H., & Gerber, M. S. Model Adaptation for Personalized Opinion Analysis. Volume 2: Short Papers, 769.</p>
          <hr>
          <img class="img-thumbnail" src="../static/img/cloud.png" width="200" style="right:0"> 
          <p><b>Machine Learning | Cloud Computing</b></p>        
          <p>K. Li, C. Gibson, D. Ho, <b>Q. Zhou</b>, J. Kim, O. Buhisi, D. Brown &amp; M. Gerber. Assessment of Machine Learning Algorithms in Cloud Computing Frameworks. In Systems and Information Engineering Design Symposium (SIEDS). IEEE, 2013.</p>
          <!-- <hr>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div> <!-- /.col-lg-4 -->
        <div class="col-lg-6">
          <h2>Play Hard</h2>
          <hr>
          <p><b>Sketching | Painting</b></p>
          <img class="img-thumbnail" src="../static/img/aboutME.jpg" width="300" style="right:0px">
          <img class="img-thumbnail" src="../static/img/bg.jpg" style="right:0px" width="300">
          <hr>
          <p><b>Skydiving</b></p>
          <img class="img-thumbnail" src="../static/img/skydiving.jpg" style="right:0" width="300">
          <hr>
          <p><b>Travel</b></p>
          <p>Australia | Spain | England | Singapore | China | US</p>
          <img class="img-thumbnail" src="../static/img/spain.jpg"  style="right:0" width="300">
          <hr>
          <p><b>My Dogs</b></p>
          <img class="img-thumbnail" src="../static/img/doggies.jpg"  style="right:0" width="300">
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div> <!-- /.col-lg-4 -->
      </div> <!-- /.row-->
    </div>

{% endblock %}