/**
* CSS themes for simplePagination.js
* Author: Flavius Matis - http://flaviusmatis.github.com/
* URL: https://github.com/flaviusmatis/simplePagination.js
*/
UL.simple-pagination
{
	list-style: none;
}
.simple-pagination
{
	display: block;
	overflow: hidden;
	padding: 0 5px 5px 0;
	margin: 0;
}
.simple-pagination UL
{
	list-style: none;
	padding: 0;
	margin: 0;
}
.simple-pagination LI
{
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}
/*------------------------------------*\
Compact Theme Styles
\*------------------------------------*/
.compact-theme A, .compact-theme SPAN
{
	float: left;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 18px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #AAA;
	border-right: none;
	min-width: 14px;
	padding: 0 7px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	background: #636262;
	/*Old browsers*/
	background: #636262;
	/*FF3.6+*/
	background: #636262;
	/*Chrome,Safari4+*/
	background: #636262;
	/*Chrome10+,Safari5.1+*/
	background: #636262;
	/*Opera11.10+*/
	background: #636262;
	/*IE10+*/
	background: #636262;
	/*W3C*/
}
.compact-theme A:hover
{
	color: #0590C5;
	text-decoration: none;
	background: #8A8A8A;
	/*Old browsers*/
	background: #8A8A8A;
	/*FF3.6+*/
	background: #8A8A8A;
	/*Chrome,Safari4+*/
	background: #8A8A8A;
	/*Chrome10+,Safari5.1+*/
	background: #8A8A8A;
	/*Opera11.10+*/
	background: #8A8A8A;
	/*IE10+*/
	background: #8A8A8A;
	/*W3C*/
	color: #0590C5;
}
.compact-theme .prev
{
	border-radius: 3px 0 0 3px;
}
.compact-theme .next
{
	border-right: 1px solid #AAA;
	border-radius: 0 3px 3px 0;
}
.compact-theme .current
{
	background: #2AB8EF;
	/*Old browsers*/
	background: #2AB8EF;
	/*FF3.6+*/
	background: #2AB8EF;
	/*Chrome,Safari4+*/
	background: #2AB8EF;
	/*Chrome10+,Safari5.1+*/
	background: #2AB8EF;
	/*Opera11.10+*/
	background: #2AB8EF;
	/*IE10+*/
	background: #2AB8EF;
	/*W3C*/
	cursor: default;
}
.compact-theme .ellipse
{
	background: #EAEAEA;
	padding: 0 10px;
	cursor: default;
}
/*------------------------------------*\
Light Theme Styles
\*------------------------------------*/
.light-theme A, .light-theme SPAN
{
	float: left;
	color: #666;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #BBB;
	min-width: 14px;
	padding: 0 7px;
	margin: 0 5px 0 0;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	background: #EFEFEF;
	/*Old browsers*/
	background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%);
	/*FF3.6+*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef));
	/*Chrome,Safari4+*/
	background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%);
	/*Chrome10+,Safari5.1+*/
	background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%);
	/*Opera11.10+*/
	background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%);
	/*IE10+*/
	background: linear-gradient(top, #ffffff 0%,#efefef 100%);
	/*W3C*/
}
.light-theme A:hover
{
	text-decoration: none;
	background: #FCFCFC;
}
.light-theme .current
{
	background: #666;
	color: #FFF;
	border-color: #444;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 1), inset 0 0 2px rgba(0, 0, 0, 0.3);
	cursor: default;
}
.light-theme .ellipse
{
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	font-weight: bold;
	cursor: default;
}
/*------------------------------------*\
Dark Theme Styles
\*------------------------------------*/
.dark-theme A, .dark-theme SPAN
{
	float: left;
	color: #CCC;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	text-align: center;
	border: 1px solid #222;
	min-width: 14px;
	padding: 0 7px;
	margin: 0 5px 0 0;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	background: #555;
	/*Old browsers*/
	background: -moz-linear-gradient(top, #555 0%, #333 100%);
	/*FF3.6+*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555), color-stop(100%,#333));
	/*Chrome,Safari4+*/
	background: -webkit-linear-gradient(top, #555 0%,#333 100%);
	/*Chrome10+,Safari5.1+*/
	background: -o-linear-gradient(top, #555 0%,#333 100%);
	/*Opera11.10+*/
	background: -ms-linear-gradient(top, #555 0%,#333 100%);
	/*IE10+*/
	background: linear-gradient(top, #555 0%,#333 100%);
	/*W3C*/
}
.dark-theme A:hover
{
	text-decoration: none;
	background: #444;
}
.dark-theme .current
{
	background: #222;
	color: #FFF;
	border-color: #000;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
	cursor: default;
}
.dark-theme .ellipse
{
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	font-weight: bold;
	cursor: default;
}
